<div class="sensor-id">
  <strong>Id</strong>
  <p><%- data.id %></p>
</div>
<div class="sensor-location">
  <strong>Location</strong>
  <p>(<%- data.latitude %>, <%- data.longitude %>)</p>
</div>
<div class="sensor-type">
  <strong>Type</strong>
  <p><%- data.type %></p>
</div>

<div class="sensor-active">
  <strong>Active</strong>
  <p><% if (data.active) { %> Yes <% } else { %> No <% } %></p>
</div>

<a href="/sensors" class="btn btn-default">Back</a>