<div class="sensor-id">
  <strong>Id</strong>
  <p><%= id %></p>
</div>
<div class="sensor-location">
  <strong>Location</strong>
  <p>(<%= latitude %>, <%= longitude %>)</p>
</div>
<div class="sensor-type">
  <strong>Type</strong>
  <p><%= type %></p>
</div>

<div class="sensor-active">
  <strong>Active</strong>
  <p><% if (active) { %> Yes <% } else { %> No <% } %></p>
</div>

<a href="/sensors" class="btn btn-default">Back</a>