/* Bootstrap styles, mixins and variables */
@import "bootstrap";
@import "mixins";

@include font-face(entypo, 'entypo/entypo', normal, $asset-pipeline: true);

$list-item-background-hover: #f6faff;
$border: 1px solid #eee;

// Icons variables
$icon-font: 'entypo';
$icon-font-size: 2em;
$icon-line-height: 0.714285714;
$icon-color: rgba(0,0,0,0.15);
$icon-color-hover: rgba(0,0,0,0.25);

$list-item-controls-width: 45px;

ol, ul, li {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

.label {
  font-weight: 200;
}

.icon {
  padding: 2px 3px;
  font-family: $icon-font;
  font-size: $icon-font-size;
  color: $icon-color;
  &:hover {
    text-decoration: none;
    color: $icon-color-hover;
  }
}

.icon-image {
  font-family: $icon-font;
  font-size: 160px;
  line-height: 80px;
  color: $icon-color;
}

#main {
  padding-top: 20px;
}

.no-data {
  text-align: center;
}

.not-found {
  margin-top: 100px;
  .controls {
    margin-top: 25px;
  }
}

.list-item {
  padding-right: 10px;
  border-bottom: $border;
  &:hover {
    background-color: $list-item-background-hover;
  }
}

.table > tbody > tr.list-item > td {
  vertical-align: middle;
}

.list-item {
  td {
    position: relative;
  }
  .controls {
    text-align: right;
    .delete {
      position: absolute;
      z-index: 1;
    }
  }
  .icon {
    display: inline-block;
    height: 24px;
    line-height: 0.75;
    visibility: hidden;
  }
  &:hover {
    cursor: pointer;
    .icon {
      visibility: visible;
    }
  }
}

form .controls {
  float: right;
}

.header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: $border;
  margin-bottom: 40px;
  .header-title {
    display: inline;
  }
  .controls {
    right: 0;
    position: absolute;
    top: 0;
  }
}

.btn-icon:before {
  font-family: $icon-font;
  font-size: 25px;
  content: "\2795";
  line-height: 0;
  margin-right: 8px;
  position: relative;
  top: 1px;
}

.filter-group {
  float: right;
  margin-left: 25px;
}

.sensor-filters {
  float: right;
  margin-bottom: 10px;
}

.current {
  @extend .btn-primary;
}

.column {
  float: left;
}

#sensor-show-aside {
  @extend .column;
  width: 50%;
  overflow: hidden;
}

#sensor-show-main {
  @extend .column;
  width: 50%;
  padding-left: 40px;
}

#map {
  height: 470px;
}
