<div class="filter-group">
  <button id="filter-all" class="btn btn-default">All</button>
</div>
<div class="filter-group">
  <button id="filter-active" class="btn btn-default">Active</button>
  <button id="filter-inactive" class="btn btn-default">Inactive</button>
</div>
<div class="filter-group">
  <button id="filter-solar" class="btn btn-default">Solar</button>
  <button id="filter-wind" class="btn btn-default">Wind</button>
</div>
