<div class="filter-group">
  <button id="filter-all" class="filter-button btn btn-default" data-filter-attr="all">All</button>
</div>
<div class="filter-group">
  <button id="filter-active" class="filter-button btn btn-default" data-filter-attr="active" data-filter-value="true">Active</button>
  <button id="filter-inactive" class="filter-button btn btn-default" data-filter-attr="active" data-filter-value="false">Inactive</button>
</div>
<div class="filter-group">
  <button id="filter-solar" class="filter-button btn btn-default" data-filter-attr="type" data-filter-value="solar">Solar</button>
  <button id="filter-wind" class="filter-button btn btn-default" data-filter-attr="type" data-filter-value="wind">Wind</button>
</div>
